.main-title{
    width: 100%;
    text-align: center;
  }
  .submit-btn{
    background-color: rgb(6, 131, 214) !important;
    width: 50%;
    padding: 10px 0;
    border: none;
    color: #fff;
    font-size: 18px;
  }
  .submit-btn:hover{
    background-color: rgb(29, 159, 247) !important;
    transition: 0.4s ease-in;
  }
  .plus{
    background-color: rgb(235, 165, 15);
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 150px;
    right: 20px;
  }
.departments{
  width: 50%;
  border-bottom: 1px solid #333;
  list-style: none;
  color: rgb(6, 131, 214);
  margin-right: 10px;
  
  padding: 5px 10px;
}